---
import '../style/global.css';

---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.svg" />
  <meta name="theme-color" content="#ffffff" />
  <title>Contact</title>
</head>
<body>
<main class="h-screen flex justify-center items-center">
  <div class="flex flex-col h-full w-full justify-center items-center mx-4">
    <h1 class="text-4xl font-bold mb-4">Find the difference (look closely)</h1>
    <img src="https://cdn.discordapp.com/attachments/1209579203151007836/1210371720330879018/z16071758QZnajdz-roznice-3.png?ex=65ea5181&is=65d7dc81&hm=8468885eb199ae90315cb03ae3007c0ba9088f694e6d7a938d2a7819067c707f&" alt="" width="800"/>
  </div>
</main>
<script>
  const header = document.querySelector('h1');
  const image = document.querySelector('img');

  setTimeout(() => {
    header.textContent = 'Hehe';
    image.src = 'https://cdn.discordapp.com/attachments/1209579203151007836/1210373612188467220/meqglHgaaaWavbmhw7a-SLtv1NdoSL3_11.png?ex=65ea5344&is=65d7de44&hm=7bb01f993b7eafb7317c45a4924cbd4fb47a2a14f9465a5d3c66a4bd7b45b529&'
  }, 10000)

</script>
</body>
</html>

