---
import Button from '../components/button'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<main class="">
			<div class="">
				
				<h1 class="text-4xl font-bold">Web, Mobile Development and UI/UX Design</h1>
	
				<div>
					<Button>test</Button>
				</div>
			</div> 
		</main>
	</body> 
</html>
