---
import Button from '../components/button'
import { Image } from '@astrojs/image/components';
import capybaraImage from '../../public/assets/capybara.webp'
import pathIcon from '../../public/assets/path.svg'
---

<html lang="en" class="h-full">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body class="h-full">
		<main class="h-full flex justify-center items-center">
			<div class="flex flex-col justify-center items-center">
				
				<h1 class="text-4xl font-bold max-w-xl text-center mb-12">Web, Mobile Development and UI/UX Design</h1>
	
				<div class="flex">
	
					<img src={"/assets/capybara.webp"} alt="capybara" class="rounded-md"/>

					<img src={"/assets/path.svg"} alt="" class="mx-8">

					<div>  
						<a href="#">
							<Button>Join Discord 👽</Button>
						</a>
					</div>
				</div>
			</div> 
		</main>
	</body> 
</html>
